<settings>
   <category label="Addon-Settings">
  	<setting id="show-flash" type="bool" label="Show Flash videos" default="false"/>
   </category>
<category label="Auto-View">
  <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
  <setting id="ga_visitor" type="text" label="GA visitor" default="" visible="false"/>
</category>
</settings>