<settings>
   <category label="Addon-Settings">
  	<setting id="enableProxy" type="bool" label="Enable Proxy" default="false"/>
    <setting id="region" type="enum" values="USA|Romainia|Germany|England" label="Proxy Region" default="0" enable="true" />
    <setting id="enableTrans" type="bool" label="Enable Translation" default="false"/>
    <setting id="translang" type="text" label="translation language" default="en" visible="false"/>
   </category>
<category label="Auto-View">
  <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
  <setting id="ga_visitor" type="text" label="GA visitor" default="" visible="false"/>
</category>
</settings>