<settings>
   <category label="Login">
  <setting id="Username" type="text" label="Username" default="" visible="true"/>
  <setting id="Password" type="text" label="Password" default="" visible="true" option="hidden" />
  <setting id="cloudservice" type="enum" values="GoogleDrive|Box.net|OneDrive|DropBox" label="Default Cloud Service" default="0" enable="true" />
   </category>
	<category label="Axel">
		<setting visible="true" id="axel-usename" 			type="bool"				default="false"		label="Use Name" />
		<setting visible="true" id="axel-connections" 	type="labelenum" 	default="2"				label="Connections" values="Default|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20" />
		<setting visible="true" id="axel-keepfile" 			type="bool"				default="false"		label="Keep File" />
		<setting visible="true" id="axel-folder" 				type="folder" 		default="" 				label="Axel Downloader's userdata Folder" />
	</category>
</settings>